* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 8, 8);
  color: aliceblue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: clamp(14px, 1rem, 18px);

}

@mixin flex-column($gap: 1rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

section {
  max-width: 2000px;
}

main {
  height: 100%;
  width: 100%;
  @include flex-column(1rem);
  align-items: center;

  section.view1 {
    width: 100%;
    padding: 1rem;
    @include flex-column(2rem);

    .left img {
      width: 100%;
      border-radius: 10px;
    }

    .right {
      width: 100%;
      padding: 1.6rem;
      @include flex-column(2.5rem);
      background-color: rgb(54, 54, 54);
      border-radius: 10px;
      justify-content: space-between;
    }

    .p {
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
    }

    .text {
      padding-top: 2.5rem;

    }

    .text h1 {
      font-size: 2.5rem;
      font-weight: 200;
      text-transform: uppercase;
    }

    .text p {
      color: #aeadad;
      line-height: 1.7rem;
      // font-weight: 700;
    }

    .textbtn {
      padding-top: 1rem;
      align-items: center;
      font-weight: 500;
      display: flex;
      align-items: center;
      // gap: 1rem;
    }

    .text i {
      padding: 10px;
      border-radius: 18px;
      background-color: rgba(240, 248, 255, 0.235);
    }

    .textbtn p {
      padding: 10px;
    }


  }

  section.view2 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;

    .left,
    .right {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    .element {
      text-align: center;
      @include flex-column(0.2rem);

      small {
        opacity: 0.6;
      }

      h2 {
        font-size: 3rem;
        font-weight: 300;
      }
    }
  }

  section.view3 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;

    .left {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .right {
      width: 100%;
      padding: 1.6rem;
      @include flex-column(2rem);
      background-color: rgb(54, 54, 54);
      border-radius: 10px;
      justify-content: space-between;

      .right p {
        font-size: 1rem;
        font-weight: 600;
      }

      .p {
        text-transform: uppercase;
      }

      .text {
        padding-top: 2.5rem;

      }

      .text h1 {
        font-size: 2.9rem;
        font-weight: 200;
        text-transform: uppercase;
      }

      .text p {
        color: #aeadad;
        line-height: 1.7rem;
      }
    }
  }

  section.view4 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;

    .left {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .right {
      width: 100%;
      padding: 1.6rem;
      @include flex-column(2rem);
      background-color: rgb(54, 54, 54);
      border-radius: 10px;
      justify-content: space-between;

      .right p {
        font-size: 1rem;
        font-weight: 600;
      }

      .p {
        text-transform: uppercase;
      }

      .text {
        padding-top: 2.5rem;

      }

      .text h1 {
        font-size: 2.9rem;
        font-weight: 200;
        text-transform: uppercase;
      }

      .text p {
        color: #aeadad;
        line-height: 1.7rem;
      }

    }
  }

  section.view5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 4rem;

    .left h3 {
      font-size: 2.5rem;
    }

    .right {
      display: none;
      // background-color: #F4F2EC;
      align-items: center;
      gap: 1rem;

      .right p {
        font-size: 1.9rem;
        font-weight: 500;
      }

      i {
        background-color: rgba(149, 149, 149, 0.812);
        padding: 0.5rem;
        border: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  section.view6 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 1rem;

    .card1 {
      padding: 1rem;
      background-image: url(https://koder-c13-assignment-15.onrender.com/imgs/i4.webp);
      background-size: cover;
      aspect-ratio: 1/1;
      @include flex-column(1rem);
      justify-content: space-between;
      border-radius: 0.7rem;

      .top,
      .bottom {
        backdrop-filter: blur(5px);
      }

      .top {
        padding: 1.5rem;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        i {
          font-size: 1.5rem;
          background-color: #aeadad62;
          padding: 10px;
          border-radius: 20px;
          border: 1px solid white;
        }
      }

      .bottom {
        padding-bottom: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        background-color: #aeadad7d;
        border-radius: 25px;
        border: 1px solid white;


        h4 {
          padding: 1.5rem;
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
        }

        p {
          padding: 1.5rem;
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: uppercase;

        }
      }

    }

    .card2 {
      padding: 1rem;
      background-image: url(https://koder-c13-assignment-15.onrender.com/imgs/i5.webp);
      background-size: cover;
      aspect-ratio: 1/1;
      @include flex-column(1rem);
      justify-content: space-between;
      border-radius: 0.7rem;

      .icon,
      .bottom {
        backdrop-filter: blur(5px);
      }

      .top {
        padding: 1.5rem;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        i {
          font-size: 1.5rem;
          background-color: #aeadad62;
          padding: 10px;
          border-radius: 20px;
          border: 1px solid white;
        }
      }

      .bottom {
        padding-bottom: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        background-color: #aeadad7d;
        border-radius: 25px;
        border: 1px solid white;


        h4 {
          padding: 1.5rem;
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
        }

        p {
          padding: 1.5rem;
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: uppercase;

        }
      }

    }

    .card3 {
      padding: 1rem;
      background-image: url(https://koder-c13-assignment-15.onrender.com/imgs/i6.webp);
      background-size: cover;
      aspect-ratio: 1/1;
      @include flex-column(0.5rem);
      justify-content: space-between;
      border-radius: 0.7rem;

      .top,
      .bottom {
        backdrop-filter: blur(5px);
      }

      .top {
        padding: 1.5rem;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;

        i {
          font-size: 1.5rem;
          background-color: #aeadad62;
          padding: 10px;
          border-radius: 20px;
          border: 1px solid white;
        }
      }

      .bottom {
        padding-bottom: 2rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        background-color: #aeadad7d;
        border-radius: 25px;
        border: 1px solid white;


        h4 {
          padding: 1.5rem;
          font-size: 2rem;
          font-weight: 400;
          text-transform: uppercase;
        }

        p {
          padding: 1.5rem;
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: uppercase;

        }
      }

    }

  }

  section.view7 {
    width: 100%;
    padding: 1rem;
    @include flex-column(2rem);

    .top img {
      width: 100%;
      border-radius: 15px;
    }

    .bottom {
      width: 100%;
      padding: 1.6rem;
      @include flex-column(2.5rem);
      background-color: rgb(54, 54, 54);
      border-radius: 10px;
      justify-content: space-between;
    }

    .text {
      padding-top: 2rem;

    }

    .text h4 {
      padding-top: 2.5rem;
      font-size: 2.5rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .text p {
      font-weight: 600;
      color: #aeadad;
      // line-height: 1.7rem;
      text-transform: uppercase;
      // font-weight: 700;
    }

    .textbtn {
      padding-top: 1rem;
      align-items: center;
      font-weight: 500;
      display: flex;
      align-items: center;
      // gap: 1rem;
    }

    i {
      font-weight: 700;
      padding: 10px;
      border-radius: 18px;
      background-color: rgba(240, 248, 255, 0.235);
    }

    .textbtn p {
      padding: 10px;
    }


  }

  section.view8 {
    padding: 1rem;
    width: 100%;
    // background-color: rgb(230, 200, 54);

    .inner {
      background-color: #CEBD63;
      border-radius: 0.7rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 2rem;

      p {
        // font-family: f3;
        color: #000000;
        font-size: 1rem;
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        align-items: center;

        h4 {
          // font-family: f1;
          text-transform: uppercase;
          color: #000000;
          font-size: 3rem;
          font-weight: 500;
        }

        button {
          width: -moz-fit-content;
          width: fit-content;
          background-color: #1E1E1E;
          color: #F4F2EC;
          border: none;
          padding: 1rem 5rem;
          border-radius: 0.5rem;
          font-size: 1.2rem;
          // font-family: f2;
        }
      }
    }


  }
}


  @media (min-width: 650px) {
    main {
      section.view1 {
        flex-direction: row;
        padding: 1rem 4rem;

        .left,
        .right {
          width: 50%;
        }


      }

      section.view2 {
        flex-direction: row;
        padding: 1rem 4rem;
      }

      section.view3 {
        flex-direction: row-reverse;
        padding: 1rem 4rem;

        .left,
        .right {
          width: 50%;
        }

        .right {
          justify-content: space-between;

          .paragraphs {
            display: flex;
            gap: 2rem;
          }
        }
      }

      section.view4 {
        flex-direction: row;
        padding: 1rem 4rem;

        .left,
        .right {
          width: 50%;
        }

        .right {
          justify-content: space-between;

          .paragraphs {
            display: flex;
            gap: 2rem;
          }
        }
      }

      section.view5 {

        .left h3 {
          font-size: 3rem;
        }

        .right {
          display: flex;
        }

      }

      section.view6 {
        flex-direction: row;
        padding: 1rem 4rem;


      }

      section.view7 {
        flex-direction: row;
        padding: 1rem 4rem;

        .top,
        .bottom {
          width: 50%;
        }
      }

      section.view8 {
        padding: 1rem 4rem;
  
        


      }
    }

  }