*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html , body{
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #fbfafa;
}
.main{
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
    gap:0.5rem;
    margin:2rem;


}
.nav-left img{
    height: 25px;
    width: 25px;
}
.nav-center{
    display: flex;
    align-items: center;
    gap: 9%;
}
.nav-center h4 {
  /* font-weight: 100px; */
  font-size: 0.90rem;
  color: rgb(20, 20, 20);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 2vw;
}
#btn1{
    color: #000;
    font-weight: 500;
    font-size: 0.90rem;
    border:none;
    background-color:#ffffff;
}
#btn2{
    background-color: #181928;
    color: #f8f6f6;
    padding: 8px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
#btn2 i{
    background-color: rgb(154, 153, 251);
    padding: 5px;
    border-radius: 15px;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin:2vw;
    margin-top: 1px;

}
.sec1{
    height: 80vh;
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 100px 50px 80px 60px 95px 100px;
    gap: 0px;
    /* background-color: bisque; */
    align-items: center;
     /* justify-content: flex-start; */
}
.grid section h1 {
  /* font-family: dms; */
  font-size: 4rem;
  font-weight: 300;
  line-height: 20px;
}
#line1 img{
    height: 50px;
    border-radius: 20px;
    box-shadow: 1 1 10 rgb(5, 5, 5);
}
#line1{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-top: 0px;
    font-weight: 700;
}
.line2{
    width: 600px;
    font-size:2.5rem ;
    font-weight: 600;
}
#line3{
    width: 500px;
    display: flex;
    gap: 1rem;
    align-items: center;
    /* padding: 10px; */

}
#line3 button{
    /* background-color: aqua; */
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
}
.buttons{
    /* padding: 20px; */
    display: flex;
    align-items: center;
    gap: 2rem;
}
#contact{
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    background-color: #111434;
    color: #fbfafa;
}
#request{
    color: #000;
}
.footer{
    width: 600px;
    /* background-color: rgb(87, 57, 19); */
}
p{
    font-size: 16px;
    padding: 10px;
}
.last{
    width: 600px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    /* gap: 2rem; */
}
.foot{
    font-size: 1.8rem;
}
.sec2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 50%;
    gap: 10px;
    grid-template-areas:"right-up right-up"
                        "left-fig right-fig";
}
.right-up img{
    /* grid-area: right-up; */
    height: 100%;
    width: 95%;
    border-radius: 20px;
box-shadow: inset 5px 8px 10px rgba(7, 7, 7, 0.805);    
}
.right-up{
    grid-area: right-up;
    /* background-color: #512222; */
}
.left-fig img{
    height: 55%;
    width: 90%;
    border-radius: 20px;
box-shadow: inset 5px 8px 10px rgba(7, 7, 7, 0.805);
}
.right-fig img{
    height: 55%;
    width: 90%;
    border-radius: 20px;
    box-shadow: inset 5px 8px 10px rgba(7, 7, 7, 0.805);
}
.left-fig{
    grid-area: left-fig;
}
.right-fig{
    grid-area: right-fig;
}
