*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html ,body{
    height: 100%;
    width: 100%;
}
Main{
    height: 100%;
    width: 100%;
    display: grid;
}
header{
    padding: 20px 40px 0px 40px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.logodiv{
    display: flex;
    align-items: center;
    
}
.arrow{
    text-align: center;
}
.logodiv h1{
    font-weight: 100;
}
.logodiv img{
    height:50px;
    width: 50px;
}
.manu{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    color: #000;
}
.manu a{
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    color: #000;
}
button{
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid  rgb(53, 53, 202);
}
.sign{ color:  rgb(53, 53, 202);

}
.get{
    background-color: rgb(53, 53, 202);
    color: aliceblue;
}
i{
    font-size:20px ;
    text-align: center;
}
#section1{
    padding: 30px 60px;
    display:grid; 
    gap:20px;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 1fr 500px;
    grid-template-areas: "about-top about-right"
                         "benner benner"
                         ;
    background-color: rgb(251, 252, 252);
}
.benner{
    grid-area: benner;
    /* background-color: aqua; */
    
}
.benner img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 12px rgb(66, 66, 66);

}


.about-top{
    grid-area: about-top;
    padding-top: 25px;
    text-align: center;
    font-weight: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: aliceblue; */
}
.about-right{
    grid-area: about-right;
    padding: 20px 20px;
    gap: 1rem;

}
#section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    text-align: center;
    padding: 30px;
    /* background-color: rgb(173, 96, 3); */
    /* border: 1px solid black;  */
}
.div4 h1{
    font-size: 3.5rem;
    font-weight: 200;
}
#section3{
    display: grid;
    padding: 20px 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(251, 250, 249);
    /* border: 1px solid black;  */
}
.div-img2 img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 12px rgb(179, 179, 178);
}
p{
    color: #9c9999;
    padding-bottom: 10px;
}
.about2{
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 10px;
    border-color: #4d4c4c;
}
.about-middle{
    padding-left: 40px;
    padding-right: 0px;
}
.about-middle h1{ 
    padding-top: 200px;

}
.about-middle p{
    padding-top: 20px;
}
#section4{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr;
    background-color: rgb(245, 244, 243);
    padding: 40px;
    padding-left: 40px;
    /* border: 1px solid black;  */
}
.pras{
    text-align: center;
    padding-top: 25px;
    color: #575656;
}
.experties button{
    border: 2px solid rgb(142, 140, 140);
    
}
#section5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* background-color: rgb(152, 193, 211); */
    padding: 40px;
}
.card-div{
    height: 350px;
    width: 250px;
    margin: 10px;
    /* background-color: aqua; */
    border-radius: 15px;
    box-shadow: 1px 1px 12px rgb(163, 162, 162);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    padding-left: 20px;
    padding-bottom: 40px;
}
h4{
    color: #7c7a7a;
}
#blue-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding-left: 20px;
    background-image: linear-gradient(to bottom, rgba(56, 3, 247, 0.98), rgba(1, 1, 247, 0.995));
}
a{
    text-decoration: none;
}
h3{ padding-top: 20px;
    /* padding-bottom: 1px; */
    color: #fefdfd;
}
.light{
    padding-top: 4px;
    color: #919191;
}
.social-icons i{
    padding: 5px;
    border: 2px solid rgb(142, 142, 142);
    border-radius: 5px;
    /* background-color: antiquewhite; */
}
#img2{
    background-image: url(https://yugal3.github.io/Firm-Landing-Page/assets/Copilot_20251009_143819.png);
    background-position: center;
    background-size:cover;
}
#img3{
    background-image: url(https://yugal3.github.io/Firm-Landing-Page/assets/Copilot_20251009_143828.png);
    background-position: center;
    background-size:cover;
}
#img4{
    background-image: url(https://yugal3.github.io/Firm-Landing-Page/assets/Copilot_20251009_144632.png);
    background-position: center;
    background-size:cover;
}
#img5{
    background-image: url(https://yugal3.github.io/Firm-Landing-Page/assets/Copilot_20251009_145104.png);
    background-position: center;
    background-size:cover;
}
#img6{
    background-image: url(https://yugal3.github.io/Firm-Landing-Page/assets/Copilot_20251009_144853.png);
    background-position: center;
    background-size:cover;
}
#img7{
    background-image: url(https://yugal3.github.io/Firm-Landing-Page/assets/Copilot_20251009_144451.png);
    background-position: center;
    background-size:cover;
}
#img8{
    background-image: url(https://yugal3.github.io/Firm-Landing-Page/assets/Copilot_20251009_145240.png);
    background-position: center;
    background-size:cover;
}
/* #section6{
    background-color: rgb(125, 33, 200);
    border: 1px solid black; 
}
#section7{
    background-color: rgb(174, 99, 6);
    border: 1px solid black; 
} */
.footer{
    background-color: #7c7a7a;

 }
.footer{
    height: 500px;
    width: 100%;
    display: grid;
    background-color: rgb(4, 4, 4);
}

