* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    color: #f5f5f8;
}

.navbar {
  background-color: #131313;
  padding: 1rem;
}
.nav-links {
  display: flex;
  justify-content: center;
  gap: 2.0rem;
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: 350px;
}
.hero {
  min-height: 80%;
  width: 100%;
  text-align: center;
  padding: 50px; 
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large.jpg);
  background-color: #030303;
  background-size: cover;
  background-position: center;
}
.hero2 {
  min-height: 80%;
  width: 100%;
  text-align: center;
  padding: 50px; 
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_large.jpg);
  background-color: #030303;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size:3.5rem;
  font-weight: 500;
  /* margin-bottom: 1rem; */
}
.hero h5 {
  font-size: 1.2rem;
  font-weight: 500px;
  margin-bottom: 2rem;
  
}
.hero2 h1 {
  font-size:3.5rem;
  font-weight: 500;
  color: #000;
  /* margin-bottom: 1rem; */
}
.hero2 h5 {
  font-size: 1.2rem;
  font-weight: 500px;
  margin-bottom: 2rem;
  color: #000;
}
.hero-buttons .btn {
  padding: 0.7rem 1.5rem;
  margin-right: 1rem;
  border: 1px solid #2b02fa;
  text-decoration: none;
  color: #fbfbfb;
  border-radius: 50px;
  background-color: #2302f8;
}

