*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: black;
/* background-color:#fafafa; */
}
html ,body{
    height: 100%;
    width: 100%;
    background-color:#fafafa;
    font-family:Arial, Helvetica, sans-serif;
}
#fullnav{
    background-color:#fafafa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 30px;
}
.logo{
    background-color:#fafafa;
    font-size: 20px;
    /* padding: 10px; */
    font-weight: 100px;
    font-family:'Pacifico', cursive;
    transform: rotate(-5deg) scale(1.0);
    text-shadow: 2px 2px 5px rgba(103, 99, 99, 0.2);

}
#searchbar{
    width: 400px;
    height: 30px;
    padding: 25px 10px;
    border-radius: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(233, 228, 228);
}
.search{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(253, 76, 162);
    
}

.search i{
    color: #fbfafa;
    text-align: center;
}

i{
    font-size: 22px;
    color: #414040;
    text-align: center;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;

}
a{
    color: #2b2a2a;
    font-size: 15px;
}

ul{
    display: flex;
    gap: 1rem;
    font-weight: 600;
    color: #000;
}
.linkli, ul, li, a{
    text-decoration: none;
    list-style-type: none;
}
#log{
    padding: 15px 25px;
    border-radius: 30px;
    font-size: 15px;
    border: none;
    font-weight: 700;
    color: aliceblue;
    background-color: black;
}
.dashbourd{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 20px;
}
p{
    color: #646363;
    font-size: medium;
    font-weight: 100px;
    font-family:sf;
}
.dashbourd ,ul ,li{
    color: #393838;
     font-family:sf;
}
#main_container{
    padding: 50px;
    /* background-color: #7d7a7a; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

}
.Card1{
    height: 270px;
    width: 350px;
    /* background-color: aquamarine; */
    position: relative;
    transition: all ease 0.5s;
    border-radius: 10px;
    overflow: hidden;
    transform: translateY(7px);

}
.Card1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.Card1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.bottom_1{
    background:linear-gradient(transparent , rgb(57, 57, 57));
    width: 100%;
    height: 40%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    bottom: -40%;
    transition: all ease 0.3s;
}
.bottom_1 i{
    font-size: 15px;
    font-weight: 700;
    color: #000;
    padding: 10px;
    border-radius: 20px;
    background-color: #fafafa;
}
.bottom_1 h4, h3{
    color: aliceblue;
}
.Itag{
    display: flex;
    gap: 10px;
}

.Card1:hover .bottom_1{
    /* rotate: 20deg; */
    bottom: 0%;

}
.Card1:hover{
    transform: translateY(10px);
}
.nbar{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

}

#pop{
    padding: 8px 15px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    border:1px solid #a0a0a0;
    background-color: #fafafa;
}
#pop i{
    text-align: center;
}
#dis{
    padding: 10px;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    background-color: #f7f5f5;
}
.list3{
    display: flex;
    gap: 2.5rem;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
#filt{
    text-align: center;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
    border: 2px solid rgb(182, 181, 181);
    background-color: #fafafa;
}
#filt i{
    text-align: center;
    font-size: 18px;
}
