<<<<<<< HEAD
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#div1{
    height: 30%;
    width: 100%;
    background-color:rgb(5, 33, 50);
    color: white;
    text-align: center;
    padding: 30px;

}
h1{
    font-size: 50px;
    margin-bottom: 5px;
}
p{
    font-size: 18px;
    margin-top: 5px;
}
h2{
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
h3{
    font-size: 25px;
    margin-bottom: 15px;
}
a{
    color: rgb(0, 1, 1);
    text-decoration: none;
}
#div2{
    height: 150px;
    width: 70%;
    background-color: rgb(254, 254, 254);
    text-align: center;
    padding:10px;
    margin: 20px auto;
}
#div3{
    height: 150;
    width: 70%;
    background-color: rgb(223, 238, 250);
    text-align: center;
    padding:50px;
    margin: 20px auto;
}
#div4{
    height: 300px;
    width: 70%;
    background-color: rgb(248, 230, 187);
    text-align: center;
    padding:30px;
    margin: 20px auto;
}
#div5{
    height: 250px;
    width: 70%;
    background-color: rgb(235, 226, 240);
    text-align: center;
    padding:30px;
    margin: 20px auto;
}
#div6{
    height: 250px;
    width: 70%;
    background-color: rgb(219, 247, 228);
    text-align: center;
    padding:30px;
    margin: 20px auto;
}
#div7{
    height: 20%;
    width: 100%;
    background-color: rgb(5, 33, 50);
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}
.listcolor{
    color: rgb(0, 1, 1);
    font-weight: bold;
    background-color: aliceblue;
    margin: 10px 70px;
    padding: 10px 10px;
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
    width: 100%;
}
  #div1{
    height: 100%;
    width:100%;
    background-image: url(javier-miranda-nc1zsYGkLFA-unsplash.jpg);
    background-size: cover;
    text-align: center;
    padding: 60px;
    transition: 1s ease-in-out;
  }
  #div1:hover{
    transform:scale(1.05);
    transition: 1s ease-in-out;
}
  h1{
    font-family: "Fontdiner Swanky", serif;
     font-weight: 100;
     font-style: normal;
     font-size:25px;
   color: rgb(247, 167, 69);
  text-shadow: 0 0 5px rgb(178, 159, 122), 0 0 10px rgb(215, 199, 112), 0 0 20px rgb(203, 188, 145);
}

  
>>>>>>> task2/main
